html {
    height: 100%;
    font: 15px sans-serif;
    background-color: #f5f5f5;
}

body {
    padding: 0;
    width: 360px;
    max-width: 100%;
    height: 640px;
    margin: auto;
    overflow: auto;
    background-color: #ffffff;
    box-sizing: border-box;
}

.btns-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.btn {
    visibility: hidden;
    opacity: 0;
    padding: 10px 15px;
    font-size: 1.2em;
    font-weight: 500;
    background-color: #333333;
    color: #ffffff;
    border: none;
    outline: none;
    transition-duration: 0.3s;
    cursor: context-menu;
}

.btn--visible {
    visibility: visible;
    opacity: 0.5;
}

.btn--enabled {
    opacity: 1;
    cursor: pointer;
}

.items-wrapper {
    padding: 20px 0;
}

.item {
    cursor: pointer;
    transition-duration: 0.3s;
    padding: 10px;
    margin: 5px;
    border: 1px dotted midnightblue;
}

.item:hover:not(.item--selected) {
    background-color: lightsteelblue;
}

.item--selected {
    background-color: lightseagreen;
}